<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite  SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="Runner.TestNgListener"></listener>
    </listeners>
    <test name="Complete Test Run">
        <classes>
            <class name="Runner.TestRunner"></class>
        </classes>
    </test>
</suite>
